.nav_wrapper_main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
}

.logo {
  max-width: 120px;
}
.logo img {
  width: 100%;
}

.item_group {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.nav_item {
  padding: 0.75rem 0.75rem;
  list-style: none;
  height: 100%;
  transition: all 0.3s;
}

.nav_link {
  font-family: 'Open Sans';
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.4s;
}

.nav_link:hover {
  color: #b73243;
}

.search_icon {
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}

.search_icon:hover {
  color: #b73243;
}

/* Responsive CSS */
@media (min-width: 768px) and (max-width: 991px) {
  .nav_wrapper_main {
    padding: 2rem 0;
  }

  .nav_item {
    padding: 0 0.25rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .logo {
    width: 80px;
  }
  .nav_item {
    padding: 0 0.5rem;
  }
  .nav_link {
    padding: 0;
    font-size: 0.7rem;
  }
}
